# Prerequisites
*.d
*.obj
*.o

# Compiled Object files
*.slo
*.lo

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
app

# Build directories
build/
bin/